@import "_variables";

.sc-modal {
    position: fixed;
    background-color: $gray-100;
    color: $gray-500;
    font-family: $sans;
    font-size: $base-font-size;
    line-height: $base-line-height;
    padding: $base-spacing;
    text-rendering: optimizeLegibility;
    z-index: 9999999;

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        height: 220px;
        width: 220px;
        opacity: 0.5;
        z-index: -5;
    }

    p {
        margin: 0 0 $base-spacing 0;
    }
}

.sc-cookies {
    bottom: 0;
    left: 0;
    width: 100%;

    @media #{$medium} {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .sc-modal__image {
            position: static;
            opacity: 1;
        }

        &__buttons {
            flex: 1 0 25%;
            padding-left: $base-spacing;

            button {
                width: 100%;
                margin-bottom: $base-spacing;
            }
        }
    }
}

.sc-navigation {
    background-color: $blue;
    font-family: $sans;
    font-size: 16px;
    padding: $base-spacing;

    a {
        color: $blue-100;
        hyphens: auto;
        padding: ( $base-spacing / 4 ) ( $base-spacing / 2 );
        text-decoration: none;

        &:focus,
        &:hover,
        &.hover {
            background-color: $blue-700;
        }

        &:first-of-type {
            padding-left: 0;
        }
    }
}

.sc-button {
    border-width: 2px;
    border-style: solid;
    color: $gray-100;
    font-family: $sans;
    font-size: $base-font-size;
    line-height: $base-line-height;
    padding: ( $base-spacing / 4 ) ( $base-spacing / 3 );

    &__primary {
        &--blue {
            background-color: $blue;
            border-color: $blue;

            &:hover, &:focus {
                background-color: $blue-900;
                border-color: $blue-900;
            }
        }

        &--red {
            background-color: $red;
            border-color: $red;

            &:hover, &:focus {
                background-color: $red-900;
                border-color: $red-900;
            }
        }
    }

    &__secondary {
        background-color: $gray-100;

        &:hover,
        &:focus {
            color: $gray-100;
        }

        &--blue {
            color: $blue;

            &:hover, &:focus {
                background-color: $blue;
            }
        }

        &--red {
            color: $red;

            &:hover, &:focus {
                background-color: $red;
            }
        }
    }

    &__tertiary {
        background-color: $gray-100;
        border-color: $gray-100;

        &:hover,
        &:focus {
            background-color: $gray-100;
            border-color: $gray-100;
            font-weight: bold;
            text-decoration: underline;
        }

        &--blue {
            color: $blue;
        }

        &--red {
            color: $red;
        }
    }
}
